body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #1f2937;
    position: fixed;
}

ul {
    display: flex;
    align-items: center;
    gap: 22px;
    list-style-type: none;
    margin-right: 20px;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: #e5e7eb;
}

.logo {
    height: 40px;
    width: auto;
    border: solid 4px wheat;
    border-radius: 50%;
    margin: 10px;
}

/* Hero section */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 30px;
    background-color: #1f2937;
    gap: 30px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: flex-start;
    gap: 20px;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8; 
    margin: 0;
}

p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

.hero-sign-up {
    background-color: wheat;
    color: #1f2937;;
    font-weight: bold;
    padding: 6px 24px;
    border: 0;
    border-radius: 5px;
}

.hero-image {
    flex: 1 1 auto;
    max-width: 500px;
    border: solid 4px wheat;
    border-radius: 20px;
}

/* Guides section */

.guides-title {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
    padding-top: 30px;
    background-color: thistle;
}

.guides-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
    padding: 30px 30px;
    background-color: thistle;
}

.guide {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.guide-image {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 4px solid wheat;
    border-radius: 20px;
}

.guide-title {
    font-size: 18px;
    color: #1f2937;
    flex-wrap: wrap;
    max-width: 200px;
    text-align: center;
}

/* Quote section */

.quote-container {
    display: flex;
    flex-direction: column;
    padding: 60px 180px;
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
    
}

.source {
    font-size: 20px;
    font-weight: bold;
    align-self: flex-end;
    color: #1f2937;
}

/* Call to action section */

.CTA-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 40px;
    background-color: rgb(143, 58, 110);
    border-radius: 10px;
    margin: 60px auto;
    padding: 30px;
    max-width: 1100px;
    gap: 16px;
}

.CTA-text {
    color: #f9faf8;
}

.CTA-text h2 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.CTA-sign-up {
    flex-shrink: 0;
    background-color: wheat;
    color: #1f2937;
    font-weight: bold;
    padding: 6px 24px;
    margin: 30px;
    align-self: flex-start;
    border: 2px solid wheat;
    border-radius: 5px;
}

.footer {
    color: #f9faf8;
    background-color: #1f2937;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}